.mainmenu {
background-color: gainsboro;
width: 100%;
}

.cart-button {
background-color: blanchedalmond;
color: black;
margin-left: 90%;
}

.goods-list {
display: flex;
justify-content: space-between;
}

.goods-item {
    border: 1px solid black;
    width: 20%;
    text-align: center;
    margin-top: 25px;
    color: black;
    background-color: gainsboro;
}